<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <script>
    </script>
    <title>RAIK Dashboard</title>

{#    <link rel='icon' type='image/png' href="{{ url_for('static', path='raik_dashboard/favicon.png') }}">#}
    <link rel='icon' type='image/png' href="/static/raik_dashboard/favicon.png">

    <!-- Libraries -->
{#    <link rel="stylesheet" href="{% static 'raik_dashboard/vendor/fontawesome-free/css/all.min.css'%}">#}

    <!--suppress SpellCheckingInspection -->
{#    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>#}

    <!-- Static Template Includes-->
{#    <script defer src="{% static 'raik_dashboard/js/activate_nav_burger.js'%}"></script>#}
{#    <link rel='stylesheet' href='{% static 'raik_dashboard/css/global.css'%}'>#}

    <!-- Svelte Includes-->
{#    <link rel='stylesheet' href="{{ url_for('static', path='raik_dashboard_bundle/style.css') }}">#}
{#    <script defer src="{{ url_for('static', path='raik_dashboard_bundle/raik_dashboard_fe.bundle.iife.js') }}"></script>#}
    <link rel='stylesheet' href="/static/raik_dashboard_bundle/style.css">
    <script defer src="/static/raik_dashboard_bundle/raik_dashboard_fe.bundle.iife.js"></script>
</head>
<body>

<!-- START NAV -->
{#<nav class="navbar" role="navigation" aria-label="main navigation">#}
{#    <div class="navbar-brand">#}
{#        <a class="navbar-item" href="/">#}
{#            <!--suppress CheckImageSize -->#}
{#            <img src="{% static 'raik_dashboard/favicon.png' %}" width="28" height="28" alt="logo">#}
{#        </a>#}
{##}
{#        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"#}
{#           data-target="mainNavbar">#}
{#            <span aria-hidden="true"></span>#}
{#            <span aria-hidden="true"></span>#}
{#            <span aria-hidden="true"></span>#}
{#        </a>#}
{#    </div>#}
{##}
{#    <div id="mainNavbar" class="navbar-menu">#}
{#        <div class="navbar-start">#}
{#            <a class="navbar-item" href="{% url 'base' %}">#}
{#                Home#}
{#            </a>#}
{#            {% if cockpit_address %}#}
{#            <a class="navbar-item" href="{{ cockpit_address }}">#}
{#                Cockpit#}
{#            </a>#}
{#            {% endif %}#}
{#            <a class="navbar-item" href="{% url 'admin:index' %}">#}
{#                Admin#}
{#            </a>#}
{#        </div>#}
{##}
{#        <div class="navbar-end">#}
{#            <div class="navbar-item">#}
{#                <div class="buttons">#}
{#                    <a class="button is-light">#}
{#                        Log in#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
{#<!-- END NAV -->#}
{##}

<div id="app"></div>

{##}
{#<footer class="footer">#}
{#    <div class="container">#}
{#        <div class="content has-text-centered">#}
{#            <p>#}
{#                <strong>Gary's NAS</strong> by Gary Thompson. The source code is licensed#}
{#                <!--suppress HttpUrlsUsage -->#}
{#                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.#}
{#                <br>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}

</body>
</html>
