<script lang="ts">
    import {ElementType} from "../../server_interface/serverInterface";
    import type {ElementInterface} from "../../server_interface/serverInterface";
    import TextElement from "./TextElement.svelte";
    import TextGridElement from "./TextGridElement.svelte";
    import GaugeElement from "./GaugeElement.svelte";
    import {messageDisplay, toggleElementMessage, elementErrorState} from "../state/stores";
    import {textStateClass} from "./elementCommon.js";
    export let layout: ElementInterface;
    export let proportionClass = "";

    // noinspection JSUnusedAssignment
    const elementType = layout.type;
    // noinspection JSUnusedAssignment
    const conf = layout.conf;
    // noinspection JSUnusedAssignment
    const data_id = layout.data_id;


</script>

<div class="tile is-child dashboard-grid popup-parent {proportionClass}"  on:click={() => toggleElementMessage(data_id)} on:keypress={() => toggleElementMessage(data_id)}>

    {#if $elementErrorState[data_id]?.type !== undefined }
        <div class="has-text-error notification-icon">
          <i class="fas"
             class:fa-plug-circle-exclamation={$elementErrorState[data_id].type === "ServerComm"}
             class:fa-triangle-exclamation={$elementErrorState[data_id].type === "Server"}
          ></i>
        </div>
        <div class="content">
            <h1 class="has-text-centered">{$elementErrorState[data_id].type}</h1>
            <p class="has-text-centered is-size-3 has-text-background">
                {$elementErrorState[data_id].msg}
            </p>
        </div>
    {:else}
        {#if $messageDisplay[data_id]?.display }
        <div class="notification is-size-5 has-text-weight-bold notification-is-popup">
            <p>{$messageDisplay[data_id].msg}</p>
        </div>
        {/if}
        {#if $messageDisplay[data_id] }
            <div class="notification-icon {textStateClass($messageDisplay[data_id].state)}">
              <i class="far fa-envelope"></i>
            </div>
        {/if}
        {#if elementType === ElementType.Text}
            <TextElement conf={conf} data_id={data_id}/>
        {:else if elementType === ElementType.TextGrid}
            <TextGridElement conf={conf} data_id={data_id}/>
        {:else if elementType === ElementType.Gauge}
            <GaugeElement conf={conf} data_id={data_id}/>
        {:else}
            <p>Error, unknown type: {elementType}</p>
        {/if}
    {/if}
</div>
