<script lang="ts">
    import type {TileInterface} from "../../server_interface/serverInterface";
    import LayoutTile from "./LayoutTile.svelte";
    import ElementTile from "./ElementTile.svelte";
    import {
        layoutHorizontalTileProportions,
        layoutVerticalTileProportions
    } from "./elementCommon";
    export let layout: TileInterface;
    export let isAncestor = false;
    export let proportionClass = "";

    // noinspection JSUnusedAssignment
    const children = layout.children;
    // noinspection JSUnusedAssignment
    const isVertical = layout.vertical || false;
    const isParent = children !== null && children.some(c => c.hasOwnProperty("conf"));

    let childLayoutProps;
    if ( isVertical ){
        childLayoutProps = layoutVerticalTileProportions(children);
    } else {
        childLayoutProps = layoutHorizontalTileProportions(children);
    }


</script>

<div class="tile dashboard-grid {proportionClass}" class:is-ancestor={isAncestor} class:is-vertical={isVertical} class:is-parent={isParent}>
    {#each childLayoutProps as c}
        {#if isParent }
            <ElementTile {...c}/>
        {:else}
            <LayoutTile {...c}/>
        {/if}
    {/each}
</div>