<script lang="ts">
    import type {
        TextGridElementConf
    } from "../../server_interface/serverInterface";
    import {
        ElementValueType,
    } from "../../server_interface/serverInterface";
    import {onMount} from "svelte";
    import {elementForeverLoop} from "./elementCommon";
    import {textStateClass} from "./elementCommon.js";

    export let data_id: number;
    export let conf: TextGridElementConf;
    let val: ElementValueType = {
        timestamp: null,
        value: null,
        state: null,
        message: null
    };

    // noinspection JSUnusedAssignment
    let data = Array(conf.rows).fill(Array(conf.columns).fill({
        v: conf.no_data,
        s: null
    }));

    onMount(async () => {
        await elementForeverLoop(
            conf, data_id,
            (v) => {
                val = v;
                const {value, state} = v;
                data = value.map((row, i) => (
                    row.map((cell, j) => (
                    {
                        v: cell,
                        s: state[i][j]
                    }
                ))))
            }
        );
	});

</script>

<div class="content" style="width: 100%">
{#if conf.heading !== null}
<h1
    class="has-text-centered"
>{conf.heading}</h1>
{/if}
{#each data as row}
    <div class="columns is-size-4">
    {#each row as cell}
        <div class="column">
            <p
                class="has-text-centered {textStateClass(cell.s)}"
            >{cell.v ?? conf.no_data}</p>
        </div>
    {/each}
    </div>
{/each}
</div>