<script lang="ts">
    import { fade } from 'svelte/transition';
    import type {TextElementConf} from "../../server_interface/serverInterface";
    import {
        ElementValueType,
    } from "../../server_interface/serverInterface";
    import {onMount} from "svelte";
    import {elementForeverLoop} from "./elementCommon";
    import {textStateClass} from "./elementCommon.js";

    export let data_id: number;
    export let conf: TextElementConf;
    // noinspection JSUnusedAssignment
    let val: ElementValueType = {
        timestamp: null,
        value: null,
        state: null,
        message: null
    }    // noinspection JSUnusedAssignment

    let transitionTrigger = false;  // Dirty hack....

    onMount(async () => {
        await elementForeverLoop(
            conf, data_id,
            (v) => {
                if ( val === v) {
                    //  Do Nothing
                } else {
                    val = v;
                    transitionTrigger = !transitionTrigger;
                }
            }
        );
	});


</script>

<div class="content">
{#if conf.heading !== null}
<h1
    class="has-text-centered"
>{conf.heading}</h1>
{/if}
<div class="transition-container">
{#if transitionTrigger}
<p
    class="has-text-centered has-text-background-darker is-size-3 {textStateClass(val.state)}"
    transition:fade
>{val.value ?? conf.no_data}</p>
{:else}
<p
    class="has-text-centered has-text-background-darker is-size-3 {textStateClass(val.state)}"
    style="position: relative"
    transition:fade
>{val.value ?? conf.no_data}</p>
{/if}
</div>
</div>

<style>
  .transition-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .transition-container > * {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }
</style>