<script lang="ts">
    import { onMount } from "svelte";
    import {fetchLayout} from "../../server_interface/serverInterface";
    import type {TileInterface} from "../../server_interface/serverInterface";
    import LayoutTile from "./LayoutTile.svelte";

    let layout: TileInterface | null = null;

    onMount(async () => {
		layout = await fetchLayout();
	});

</script>

{#if layout === null}
	<p>Loading...</p>
{:else}
	<LayoutTile layout={layout} isAncestor={true}/>
{/if}
