<script lang="ts">
    // export let name: string;
    // import AppNavigation from "../common/components/AppNavigation.svelte";
    import TilesContainer from "./components/TilesContainer.svelte";
    import { afterUpdate } from 'svelte';
    import {sleep} from "../common";
    let initPreload = true;

    afterUpdate(async () => {
      await sleep(0.5);
      initPreload = false;
    });

</script>

<div class="section">

  <!-- Nav Bar -->
  <!--  <AppNavigation/>-->
  <TilesContainer/>

</div>

{#if initPreload }
<!-- This is a dirty hack to ensure key resources are not dynamically loaded -->
<!--  This exists to preload certain files in case of server connection loss -->
<div class="has-text-background">
  <i class="far fa-envelope"></i>
  <i class="fas fa-triangle-exclamation"></i>
  <i class="fas fa-plug-circle-exclamation"></i>
</div>
{/if}