@charset "utf-8";

// This file must have ".module.scss" as the suffix as per:
// https://vitejs.dev/guide/features.html#css-modules

// FontAwesome
$fa-font-path: '/static/raik_dashboard/vendor/fontawesome-free/webfonts';

// B612 Font
@import url('https://fonts.googleapis.com/css?family=B612');
$family-b612: "B612", sans-serif;


// Bulma (see colour_calculations.py)
$scheme-main: #d9d0b4;

$background: #cdbba7;  // This has a different meaning:  it mends blend in to the background in raik_dashboard.
$background-darker: #b9a793;

//$background: #b9a793;  // This has a different meaning:  it mends blend in to the background in raik_dashboard.
//$background-darker: #a18f7b;

$primary: #4c3a26;
$info:  #52caff;
$success:  #54d3a2;
$warning:  #cb4b00;
$danger:  #810000;
$error:  $danger;

$tablet: 400px;

$tile-spacing: 0px;
$dashboard-border-width: 2px;
$dashboard-border-half-width: 1px;
$family-primary: $family-b612;

// Other Variables

$transparent: rgba(0, 0, 0, 0);

// Bulma Tile Spacing Changes for raik_dashboard
.tile.is-vertical>.dashboard-grid.tile.is-child:not(:last-child) {
  margin-bottom: 0!important;
}

/* Custom Styles */

.dashboard-grid.tile.is-child {
  outline: $dashboard-border-half-width solid $background;
  //margin-top: $dashboard-border-width !important;  // This causes alignment issues.
  //margin-left: $dashboard-border-width !important;
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-grid.tile.is-ancestor {
  outline: $dashboard-border-width solid $background;
}

.dashboard-grid .content h1 {
  color: $background!important;
  font-size: 1.1em;
}

.dashboard-grid .columns {
  color: $background!important;
  font-size: 1.1em;
}


.dashboard-grid .columns:not(:last-child) {
  margin-bottom: unset;
}


.has-text-background {
  color: $background!important;
}

.has-text-background-darker {
  color: $background-darker!important;
}

.has-text-error {
  color: $error!important;;
}

.popup-parent {
  position:relative;
}

div.notification.notification-is-popup {
  position: absolute;
  opacity: 0.9
}

div.notification-icon {
  position: absolute;
  top: 0.5em;
  right: 0.5em
}

:export {
  scheme-main: $scheme-main;
  background: $background;
  background-darker: $background-darker;
  primary: $primary;
  info: $info;
  success: $success;
  warning: $warning;
  danger: $danger;
  error: $error;
  transparent: $transparent;
}
